---
  name: Second GitHub Action
  on:
    push:
      branches:
        - main
  jobs:
      deploy:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout repository
            uses: actions/checkout@v2
          - name: check hostname
            run: hostname